/* block__element--modifier */

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Directions__list li {
  padding-bottom: 8px;
}

.Footer {
  align-items: center;
  background-color: #7b68a1;
  color: white;
  display: flex;
  font-size: 12px;
  height: 128px;
  justify-content: center;
  width: 100%;
}

.Header {
  background-color: #f7972e;
  height: 64px;
  width: 100%;
}

.Heading__small {
  color: gray;
  font-size: 16px;
  margin: 0 0 8px 4px;
}

.Ingredients__list {
  list-style: disc;
  margin-left: 24px;
}

.Ingredients__list li {
  padding-bottom: 4px;
}

.Meta li {
  padding-bottom: 4px;
}

.Nav {
  padding: 0 32px;
}

.Recipe {
  padding: 0 32px;
  max-width: 425px;
}

.Recipe h1 {
  margin: 24px 0 8px;
}

.Recipe__hero {
  border: 1px solid lightgray;
  width: 100%;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 16px 16px;
}

.Tags li {
  font-size: 12px;
  font-weight: bold;
  margin: 2px 8px 2px 0;
  text-decoration: underline;
}
